{% extends "base.html" %}

{% block content %}
    <div>
        <button class="btn btn-primary float-right" onclick="runExportData()">
            Export data
        </button>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th width="30%">Project</th>
                    <th width="10%">Tags</th>
                    <th width="30%">Company</th>
                    <th width="15%">Estimated</th>
                    <th width="15%">Actual</th>
                </tr>
            </thead>
            <tbody>
                {% for project in projects %}
                    <tr>
                        <td>
                            {% spaceless %}
                                {% if project.has_ended %}<s>{% endif %}
                                <a href="{{ project.get_absolute_url }}">{{ project.title }}</a>
                                {% if project.has_ended %}</s>{% endif %}
                                {% if project.is_over_budget %}
                                    &nbsp;<span class="badge badge-danger"><i class="fas fa-clock"></i></span>
                                {% endif %}
                            {% endspaceless %}
                        </td>
                        <td>{{ project.all_tags }}</td>
                        <td>{{ project.company.name }}</td>
                        <td>{{ project.total_estimated_hours }}</td>
                        <td>{{ project.total_actual_hours }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}

{% block communication_scripts %}
    <script>
        let csrfToken = getCookie('csrftoken');

        async function runExportData() {
            let data = await fetch("{% url 'export-dashboard-file' %}", {
                method: "POST", headers: {"X-CSRFToken": csrfToken}
            }).then((response) => response.json())
                .catch((error) => {
                    console.log(error);
                })
            try {
                window.open(`{% url 'download-dashboard-file' %}?task_id=${data.task_id}`, '_blank');
            } catch (error) {
                console.log(error);
            }

        }

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                let cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    let cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

    </script>
{% endblock %}